# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Code ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### Nim ###
nimcache/
nimblecache/
htmldocs/
bin

